body {
    background: #ffffff;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #333;
}

* {
    box-sizing: border-box;
}

#app {
    display: grid;
    gap: 1em;
    grid-template-areas: "header header" "form entries";
    grid-template-rows: 80px 1fr;
    grid-template-columns: 1fr minmax(400px, 1fr);
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 767px) {
    #app {
        grid-template-areas: "header" "form" "entries";
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}

.headline {
    grid-area: header;
    font-size: 2em;
    font-weight: bold;
    margin: 10px 0;
}

.journal-form {
    border: 1px dashed #666;
    grid-area: form;
    padding: 10px;
}

.journal-entries {
    grid-area: entries;
    padding: 10px;
}

/* Form styles */
.form-control {
    margin-bottom: 1em;
}

.form-control label {
    display: block;
    margin: 0.5em 0;
}

.form-control input {
    display: block;
    font-size: 1em;
    padding: 5px;
    margin-bottom: 0.5em;
    width: 320px;
}

.form-control textarea {
    font-size: 1em;
    padding: 5px;
    margin-bottom: 0.5em;
    max-width: 480px;
    width: 100%;
}

.journal-form button {
    cursor: pointer;
    font-size: 1em;
    padding: 7px 12px;
}

/** Journal Entries styles */
.journal-entries .title {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
}

#entryHolder {
    border-top: 1px dashed #b60016;
    padding-top: 10px;
}

.temp-banner {
    font-weight: bold;
    margin-bottom: 10px;
}

#temp {
    display: inline-block;
    margin-left: 5px;
}

#date {
    display: inline-block;
    margin-right: 5px;
}
